/* styles.css */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('image/MainBG.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    margin-top: 550px;
}

/* Button styles */
button {
    width: 300px; /* Default width */
    height: 100px; /* Default height */
    font-size: 48px; /* Default font size */
    margin: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(42, 121, 239);
    color: azure;
    box-shadow: 0 20px 12px rgba(20, 20, 20, 0.404); /* Increased bottom shadow */
    text-transform: uppercase;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Add transition for smooth animation */
}

button:hover{
    background: linear-gradient(30deg,rgb(18, 78, 145), rgba(35, 208, 231, 0.829), rgb(13, 178, 138));
    color: azure;
}

button:active {
    transform: translateY(8px); /* Push the button down slightly on click */
    box-shadow: 0 6px 12px rgba(20, 20, 20, 0.6); /* Adjusted shadow for active state */
}

/* Responsive styles */
@media (max-width: 1200px) {
    button {
        width: 250px; /* Adjusted width for medium screens */
        height: 80px;  /* Adjusted height for medium screens */
        font-size: 40px; /* Adjusted font size for medium screens */
    }
}

@media (max-width: 768px) {
    button {
        width: 200px; /* Adjusted width for small screens */
        height: 60px;  /* Adjusted height for small screens */
        font-size: 32px; /* Adjusted font size for small screens */
    }
}

@media (max-width: 480px) {
    button {
        width: 150px; /* Adjusted width for extra small screens */
        height: 50px;  /* Adjusted height for extra small screens */
        font-size: 24px; /* Adjusted font size for extra small screens */
        padding: 10px 20px; /* Adjusted padding for extra small screens */
    }
}
