body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Timer styles */
#time-display {
    font-size: 20px;
    margin: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* Text display container */
#text-display {
    margin-top: 300px;
    margin-bottom: 10px;
    font-size: 100px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#text-display span {
    display: inline-block;
    text-align: center;
    font-size: 100px;
    width: 1em;
    height: 1em;
    line-height: 1;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.1em;
    margin: 0 0.1em;
    position: relative;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    display: none;
}

#message-overlay.success {
    background-image: url('/image/success.jpg');
}

#message-overlay.error {
    background-image: url('/image/error.jpg');
}

#time-up-overlay {
    background-image: url('/image/time-up.jpg');
}

/* Animation for jackpot effect */
@keyframes jackpotAnimation {
    0% { transform: rotateX(0deg); }
    30% { transform: rotateX(360deg); }
    60% { transform: rotateX(720deg); }
    100% { transform: rotateX(0deg); }
}

.jackpot-letter {
    display: inline-block; /* Ensure the letter can be animated */
    animation: jackpotAnimation 1s ease-in-out; /* Adjust duration as needed */
}
